:root {
  --primay-color: #0c02b6;
  --segundary-color: #dbebf0;
  --terciary-color: #34869c;
  --white: white;
  --gray: rgb(150, 150, 150);
  --black: black;
  --family: "Merriweather", serif;
  --gradienteColor: linear-gradient(
    to bottom,
    #0c02b6,
    #0034c2,
    #1d51ca,
    #3d6bce,
    #5d84ce
  );
  --gradienteColor2: linear-gradient(
    to bottom,
    #5d84ce,
    #3d6bce,
    #1d51ca,
    #0034c2,
    #0c02b6
  );
  --gradienteColor3: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 12%,
    rgba(255, 255, 255, 1) 99%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  background-color: var(--segundary-color);
}
body {
  font-family: var(--family) !important;
}
.img--nav {
  width: 150px;
  height: 60px;
}
