.container-fluid {
  font-family: var(--family);
  font-weight: bold;
}
.navbar-brand {
  padding-left: 20px;
}

.offcanvas-title {
  font-weight: bold;
  padding-left: 20px;
  font-size: 30px;
}
.nav-link {
  display: flex !important;
  justify-content: space-between;
  font-size: 25px;
  padding: 2.5rem 1rem !important;
}
