@import url(global.css);

@import url(header.css);

.rueda-container {
  background-color: var(--segundary-color);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.rueda-img img {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 1px solid black;
}
.llanta2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.rueda-container:hover .rueda-img {
  transform: translate(250px) rotate(360deg);
  transition: 2s;
}
.rueda-container:hover .llanta2 {
  transform: translate(-250px) rotate(-360deg);
  transition: 2s;
}
.card--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 320px;
  margin: 10px ;
  background-color: var(--terciary-color);
  font-size: 2rem;
  border-radius: 15px;
  border: solid 3px var(--black);
}
.card--div {
  border: solid 3px var(--black);
  padding: 20px;
  border-radius: 15px;
  font-family: var(--family);
  cursor: pointer;
  background-image: var(--gradienteColor);
 
  
}
.card--div:hover{
  -webkit-box-shadow: 0px 0px 17px 4px rgba(255,255,255,0.72); 
box-shadow: 0px 0px 17px 4px rgba(255,255,255,0.72);
background-image: var(--gradienteColor2);
}
.card--div h1{
   color: var(--white);
   font-weight: bold;
}

.card--container2 {
  display: none;
  width: 100%;
  height: 320px;
  margin: 10px ;
  background-color:var(--terciary-color);
  font-size: 2rem;
  border-radius: 15px;
  border: solid 3px black;
}
.card--div2 {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: 280px;
  background-color:var(--white);
  border: solid 3px black;
  padding: 20px;
  border-radius: 15px;
  font-family:var(--family);
 
}
.card--div2 h1{
   font-weight: bold;
}
.card--div2 button {
  width: 100px;
  height: 30px;
  background-image: var(--gradienteColor2);
  border: none;
  border-radius: 5px;
 
}
.card--div2 button:hover {
 background-image: var(--gradienteColor);
}
.card--div2 button a {
  text-decoration: none;
  font-weight: bold;
  font-family: var(--family);
  color: var(--white);
}
