@import url(global.css);
@import url(header.css);
.section--container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article--card{
    width: 100px;
    height: 100px;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}