@import url(../css/global.css);
@import url(../css/header.css);

.form--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px !important;
}
.form--title h1 {
  font-size: 2.2rem;
  color: var(--black);
  font-weight: bold;
}
.form--title-icon {
  width: 5rem;
  height: 7rem;
}
