@import url(../css/global.css);
@import url(../css/header.css);

.form--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form--title h1 {
  font-size: 2.2rem;
  color: var(--black);
  font-weight: bold;
}
.form--title-icon {
  width: 5rem;
  height: 7rem;
}

table.minimalistBlack {
  font-family: var(--family);
  border: 3px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.minimalistBlack td,
table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 2px;
}
table.minimalistBlack tbody td {
  font-size: 14px;
}
table.minimalistBlack thead {
  background: #cfcfcf;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  background: -webkit-linear-gradient(
    top,
    #dbdbdb 0%,
    #d3d3d3 66%,
    #cfcfcf 100%
  );
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #cfcfcf 100%);
  border-bottom: 3px solid #000000;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
