@import url(global.css);

@import url(header.css);

.rueda-container {
  background-color: #d6d6d6;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.rueda-img img {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 1px solid black;
}
.llanta2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.rueda-container:hover .rueda-img {
  transform: translate(250px) rotate(360deg);
  transition: 2s;
}
.rueda-container:hover .llanta2 {
  transform: translate(-250px) rotate(-360deg);
  transition: 2s;
}

