@import url(global.css);

@import url(header.css);

.form--container {
  display: flex;
  width: 100%;
  height: 40rem;
  border: 2px solid black;
  border-radius: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(214, 214, 214);
}
.form--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form--title h1 {
  font-size: 1.4rem;
  color: rgb(68, 77, 114);
}
.form--title-icon {
  width: 5rem;
  height: 7rem;
}
.form--container input {
  width: 50%;
  height: 20px;
  font-size: 1.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(66, 65, 64);
  font-weight: 200;
  border: none;
  padding-left: 8px;
}
.form--container label {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}
.form--buttom {
  width: 25%;
  min-width: max-content;
  height: 15px;
  border: none;
  background-color: rgb(116, 116, 116);
  color: aliceblue;
  border-radius: 15px;
  cursor: pointer;
  padding: 0 5px;
  font-family: "Merriweather", serif;
}
.form--buttom:hover {
  background-color: aliceblue;
  color: rgb(116, 116, 116);
}

.java--container {
  background-color: rgb(179, 179, 178);
  border: solid 2px black;
  width: 100%;
}
.java--section p {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Merriweather", serif;
  color: rgb(0, 0, 0);
  padding: 20px;
}
